*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
}
body{
    background-color: rgb(64, 61, 61);
}
 
.container{
    width:60%; 
    text-align: center;
    padding:12px;
    border-radius: 20px;
    background:linear-gradient(to right bottom, #374086, #10bf3f,#bf104a) ;
    color: white;
    position: relative;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 15px;
    padding:15px;
    background-color: #000000;
    gap: 30px;
}

form div {
    width: 100%; 
    display: flex;
    flex-direction: column;
}
 input, select, button {
   width:100%; 
   padding:10px; 
   border-radius: 10px;
   outline: none;
   border: none;
   margin-top: 8px;
   transition: 0.3s
}
input:hover,select:hover{
    scale: 1.04;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
input[type="checkbox"] {
    width:25px ; 
    height: 25px ;
    
}


.model-content{
    background-color: #fff;
    color: green;
    padding: 15px;
    width: 90%;
    text-align: center;
}

#model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: #00000086;
    width: 100vw;    
    height: 100vh;    
}